body {
    height: 125vh;
    background-color: peachpuff;
    background-size: cover;
    font-family: comfortaa;
    margin-top: 80px;
    padding: 30px;
}

.logo {
    background-image: url("logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}


.inline-block {
    display: inline-block;
    vertical-align: top;
}

li {
    display: inline;
}

a {
    float: right;
    padding: 6px;
    background-color: #dddddd;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: left;
    position: relative;
    z-index: 1;
}

nav {

    width: 72%;
    padding: 1%;
    text-align: right;
    vertical-align: baseline;
}

.navigation {
    background-color: white;
    font-family: sans-serif;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    overflow: hidden;
    background-color: white;

}

.logoimage {
    vertical-align: baseline;
    background-color: #e9bdb6;
    width: 16%;
    padding: 1%;
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
}

.button {
    border-radius: 12px;
    display: block;
    margin: 0;
    text-align: center;
    padding: 15px 32px;
}

.heroImg {
    margin: 25px;
    padding: 25px;


}

.hero-image {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-card {
    width: 30%;
}

.nps {
    width: 600px;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:600px) {
    [class*="col-"] {
        flex-direction: column;
        width: 100%;
    }
}

footer {
    text-align: left;
    padding: 3px;
    background-color: white;
    color: darkbrown;
}